## Importing datetime package

In [1]:
import datetime as dt

## Printing current date and time

In [2]:
dt.datetime.now()

datetime.datetime(2023, 3, 12, 1, 4, 47, 607803)

## Printing individual year , month , day , hour , minute , seconds

In [3]:
print(dt.datetime.now())
print(dt.datetime.now().year)
print(dt.datetime.now().month)
print(dt.datetime.now().day)
print(dt.datetime.now().hour)
print(dt.datetime.now().minute)
print(dt.datetime.now().second)

2023-03-12 01:04:47.792640
2023
3
12
1
4
47

In [4]:
now = dt.datetime.now() #--> creating a variable so i use now instead of whole command
print(now)

2023-03-12 01:04:47.949618

## Get Current Date

In [5]:
print(dt.date.today())

2023-03-12

## Attributes of datetime Module

In [6]:
dir(dt)

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

**Among all the attributes of datetime module, the most commonly used classes in the datetime module are:**

* **datetime.datetime:**  represents a single point in time, including a date and a time.
* **datetime.date:** represents a date (year, month, and day) without a time.
* **datetime.time:** represents a time (hour, minute, second, and microsecond) without a date.
* **datetime.timedelta:** represents a duration, which can be used to perform arithmetic with datetime objects.

## 1. Date
**The date class in Python is part of the datetime module and is used to work with dates.**

**Some of the important attributes of the date class are:**
* **year:** represents the year of the date (e.g. 2023)
* **month:** represents the month of the date (e.g. 3 for March)
* **day:** represents the day of the date (e.g. 8)

**Note: It represents a date in the format YYYY-MM-DD.**

In [7]:
my_bd = dt.date(1996,1,10)
print(my_bd)

1996-01-10

In [8]:
print(type(my_bd))

<class 'datetime.date'>

#### Getting current date

In [9]:
print(dt.date.today())

2023-03-12

In [10]:
print(dt.date.today().year)
print(dt.date.today().month)
print(dt.date.today().day)

2023
3
12

## 2. Time 
**The time class in Python is part of the datetime module and is used to represent time values.**

**Some of the attributes of the time class in Python are:**
* **time.hour:** Returns the hour of the time object.
* **time.minute:** Returns the minute of the time object.
* **time.second:** Returns the second of the time object.
* **time.microsecond:** Returns the microsecond of the time object.
* **time.tzinfo:** Returns the timezone information associated with the time object.
* **time.resolution:** Returns the smallest possible difference between non-equal time objects.

In [11]:
# create a time object
t = dt.time(10, 30, 45, 5000)

# access the attributes of the time object
print("Hour:", t.hour)
print("Minute:", t.minute)
print("Second:", t.second)
print("Microsecond:", t.microsecond)
print("Timezone info:", t.tzinfo)
print("Resolution:", t.resolution)

Hour: 10
Minute: 30
Second: 45
Microsecond: 5000
Timezone info: None
Resolution: 0:00:00.000001

## 3. DateTime  
**Datetime offers a combination of the date and time classes, and allows working with both date and time values.**
**The datetime class has the following attributes:**

* **datetime.min:** The earliest possible datetime value.
* **datetime.max:** The latest possible datetime value.
* **datetime.year:** The year value of the datetime object.
* **datetime.month:** The month value of the datetime object (1-12).
* **datetime.day:** The day value of the datetime object (1-31).
* **datetime.hour:** The hour value of the datetime object (0-23).
* **datetime.minute:** The minute value of the datetime object (0-59).
* **datetime.second:** The second value of the datetime object (0-59).
* **datetime.microsecond:** The microsecond value of the datetime object (0-999999).

In [12]:
# Get the current date and time
now = dt.datetime.now()

# Print the date and time in various formats
print("Current date and time:", now)
print("Current year:", now.year)
print("Current month:", now.month)
print("Current day:", now.day)
print("Current hour:", now.hour)
print("Current minute:", now.minute)
print("Current second:", now.second)
print("Current microsecond:", now.microsecond)

Current date and time: 2023-03-12 01:04:49.101011
Current year: 2023
Current month: 3
Current day: 12
Current hour: 1
Current minute: 4
Current second: 49
Current microsecond: 101011

In [13]:
print(dt.datetime.min)

0001-01-01 00:00:00

In [14]:
print(dt.datetime.max)

9999-12-31 23:59:59.999999

In [15]:
first_paper = dt.datetime(2023,3, 12, 15, 0, 0)
print(first_paper)

2023-03-12 15:00:00

**The datetime class also provides several useful methods for working with date and time.**

**`strftime()` and `strptime()` are two most important methods in the datetime class in Python that deal with formatting and parsing datetime strings.**
* **strftime()** method is used to convert a datetime object to a string in a specific format. The strftime() method takes a format string as input and returns a string representing the date and time in the specified format.

For example, the following code converts a datetime object to a string in the format YYYY-MM-DD:

In [16]:
from datetime import datetime

now = datetime.now()
print(type(now))
date_string = now.strftime("%Y-%B-%A")
print(date_string)
print(type(date_string))

<class 'datetime.datetime'>
2023-March-Sunday
<class 'str'>

* **strptime()** method is used to convert a string to a datetime object. The strptime() method takes two arguments: a string representing the date and time and a format string specifying the format of the date and time.
 
 For example, the following code converts a string to a datetime object:

In [17]:
date_string = "2022-12-31"
print(type(date_string))
date_object = datetime.strptime(date_string, "%Y-%m-%d")
print(date_object)
print(type(date_object))

<class 'str'>
2022-12-31 00:00:00
<class 'datetime.datetime'>

In [18]:
now = dt.datetime.now()

In [19]:
print(now)

2023-03-12 01:04:49.914204

In [20]:
print(dt.datetime.strftime(now, '%Y/%B/%A')) #--> write our desired format does not matter what the input format is..

2023/March/Sunday

**Here is a list of some of the most commonly used directives in the strftime() method of the datetime class in Python:**

* **%a:** Abbreviated weekday name (Sun, Mon, etc.)
* **%A:** Full weekday name (Sunday, Monday, etc.)
* **%b:** Abbreviated month name (Jan, Feb, etc.)
* **%B:** Full month name (January, February, etc.)
* **%d:** Day of the month as a zero-padded decimal (01, 02, etc.)
* **%H:** Hour (24-hour clock) as a zero-padded decimal (00, 01, etc.)
* **%I:** Hour (12-hour clock) as a zero-padded decimal (01, 02, etc.)
* **%j:** Day of the year as a zero-padded decimal (001, 002, etc.)
* **%m:** Month as a zero-padded decimal (01, 02, etc.)
* **%M:** Minute as a zero-padded decimal (00, 01, etc.)
* **%p:** Locale equivalent of AM/PM (AM, PM)
* **%S:** Second as a zero-padded decimal (00, 01, etc.)
* **%U:** Week number of the year (Sunday as the first day of the week) as a zero-padded decimal (00, 01, etc.)
* **%w:** Weekday as a decimal (0 = Sunday, 1 = Monday, etc.)
* **%W:** Week number of the year (Monday as the first day of the week) as a zero-padded decimal (00, 01, etc.)
* **%x:** Date representation for the current locale (e.g. 05/06/21)
* **%X:** Time representation for the current locale (e.g. 10:30:00)
* **%y:** Year without century as a zero-padded decimal (00, 01, etc.)
* **%Y:** Year with century as a decimal (e.g. 2021)
* **%z:** UTC offset in the form +HHMM or -HHMM
* **%Z:** Time zone name (e.g. EDT, EST, etc.)

In [21]:
date = '2023-03-11'
print(type(date))

<class 'str'>

In [22]:
date = dt.datetime.strptime('2023/Feb/Sun', '%Y/%b/%a')
print(date)
print(type(date))

2023-02-01 00:00:00
<class 'datetime.datetime'>

In [23]:
date = '2023/03'
print(dt.datetime.strptime(date, '%Y/%m'))
print(dt.datetime.strptime(date, '%Y/%B')) # --> error b/c formate must match with string we provide

2023-03-01 00:00:00

ValueError: time data '2023/03' does not match format '%Y/%B'

## Some additional Methods not mentioned above

In [24]:
now = dt.datetime.strptime('2023-02-09', '%Y-%m-%d')
print(now.strftime("%#d")) #--> day without Zero
print(now.strftime("%#m")) #--> month without Zero
print(now.strftime("%#I")) #--> hour without Zero
print(now.strftime("%c")) #--> represent the date and time in the user's preferred format depending on the user's system

9
2
12
Thu Feb  9 00:00:00 2023

## 4. Timedelta
**Timedelta represents a duration of time. It is used to perform arithmetic operations on dates and times. You can create a timedelta object by specifying the amount of time you want to add or subtract from a date or time.**

In [25]:
import datetime

# Get today's date
today = datetime.date.today()

# Add 7 days to the current date
# timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
future_date = today + datetime.timedelta(days=7)

# Subtract 14 hours from the current time
current_time = datetime.datetime.now()
past_time = current_time - datetime.timedelta(hours=14)

print(future_date)
print(past_time)
print(dt.datetime.strftime(past_time, '%Y/%b %I:%M %p'))

2023-03-19
2023-03-11 11:04:56.997333
2023/Mar 11:04 AM

In this example, we create a timedelta object that represents 7 days and add it to the current date using the + operator. We also create a timedelta object that represents 14 hours and subtract it from the current time using the - operator.

### Time duration in seconds
We can get the total number of seconds in a timedelta object using the total_seconds() method.

In [34]:
t = dt.timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("Total seconds =", t.total_seconds())

Total seconds = 435633.233423

### Some more method's example in timedelta

In [37]:
start_time = dt.datetime.now()
end_time = start_time + dt.timedelta(hours=2, minutes=30)

# Get the total number of seconds between start_time and end_time
total_seconds = (end_time - start_time).total_seconds()
total_minutes, seconds = divmod(total_seconds, 60)

print("Start time:", start_time)
print("End time:", end_time)
print("Total minutes:", total_minutes)
print("Seconds:", seconds)

Start time: 2023-03-12 01:18:36.131055
End time: 2023-03-12 03:48:36.131055
Total minutes: 150.0
Seconds: 0.0

### Here's an example of using the days, seconds, and microseconds attributes of a timedelta object:

In [39]:
# create two datetime objects
date1 = dt.datetime(2022, 1, 1, 12, 0, 0)
date2 = dt.datetime(2022, 1, 3, 10, 30, 0)

# calculate the time difference between the two dates
time_diff = date2 - date1

# print the number of days, seconds, and microseconds in the time difference
print("Days:", time_diff.days)
print("Seconds:", time_diff.seconds)
print("Microseconds:", time_diff.microseconds)

Days: 1
Seconds: 81000
Microseconds: 0