## Python Operators
* Arithmetic operators.
* Assignment operators.
* Comparison operators.
* Logical operators.
* Identity operators.
* Membership operators.
* Bitwise operators

### Arithmetic Operators
* "+" addition
*  "-" subtraction
*  "*" multiply
*  "/" divide
*  "**" exponent
*  "//" floor division
*  "%"  modulus/ reminder

### Arithmetic Operators on int and float
* arithmatic operators work on same data types

## "+"

In [1]:
print (5 + 2)

7

In [2]:
print(5.2+7.3)

12.5

In [3]:
print(5.2+6)

11.2

## "-"

In [4]:
print(7-5)

2

In [5]:
print(7.8-5.6)

2.2

In [6]:
print(10-5.8)

4.2

## "*"

In [7]:
print(5*2)

10

In [8]:
print(2.5*5.5)

13.75

In [9]:
print(2.8*3)

8.399999999999999

## "/"

In [10]:
print(5/2)

2.5

In [11]:
print(12.5/8.5)

1.4705882352941178

In [12]:
print(10/2.5)

4.0

## "**"

In [13]:
print(2**3)

8

In [14]:
print(2.5**3)

15.625

In [15]:
print(2**3.5)

11.313708498984761

## "//"

In [16]:
print(5//2)

2

In [17]:
print(12.5//8.5)

1.0

In [18]:
print(10//2.5)

4.0

## "%"

In [19]:
print(5%2)

1

In [20]:
print(12.5%8.5)

4.0

In [21]:
print(10%2.5)

0.0

### Arithmetic Operators on str
* only "+" and "*" operators works on str
* "*" str with int only

In [22]:
str1 = "usama "
str2 = "saleem"

In [23]:
str1+ str2

'usama saleem'

In [24]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
str1*5

'usama usama usama usama usama '

### Assignment operators
* "="
* "+="
* "-="
* "/="
* "//="
* "**="
* "%="

## "="

In [26]:
a = 10 # assign value to a
print(a)

10

In [27]:
a = 12 # overwrite value to a
print(a)

12

In [28]:
a = 10
a = 15 # overwrite
a = 20 # overwrite last value
print(a)

20

## "+="

In [29]:
a = 10
a += 2 # 12 addition with previouse value a + 2 
a += 3 # 15  addition with previouse value a + 3 
print(a)

15

## "-="

In [30]:
a = 10
a -= 2 # 8 subtraction with previouse value a - 2
a -= 5 # 3  subtraction with previouse value a - 5 
print(a)

3

In [31]:
## "*="

In [32]:
a = 10
a *=3 # 30 multiplication with previouse value a * 3
a *=2 # 60 multiplication with previouse value a*2
print(a)

60

## "/="

In [33]:
a = 60 
a /= 2 # 30 division with previous value a/2
a /= 3 # 10 division with previous value a/3
print(a)

10.0

## "//="

In [34]:
a = 67 
a //= 2 # 33 division with previous value a/2
a //= 3 # 11 division with previous value a/3
print(a)

11

## "**="

In [35]:
a = 4
a **= 2 # 16 exponent of previous value 4**2
a **= 3 # 4096 exponent of previous value 16**3
print(a)

4096

## "%="

In [36]:
a = 67 
a %= 4 # 3 reminder of previous value 67 % 4
a %= 2 # 1 reminder of previous value 3 % 2
print(a)

1

## Comparison Operators
* "==" --> equals  to
* "!=" --> not equals to
* ">" --> greater than
* ">=" --> greater than or equals to
* "<" --> less than or equals to
* "<=" --> less than or equals to

<b> All comparison operators result in True or False

## "=="

In [37]:
 5 == 4

False

In [38]:
"Usama" == "Usama"

True

## "!="

In [39]:
"Usama" != "Usama"

False

In [40]:
 5 != 4

True

## ">"

In [41]:
5 > 4

True

In [42]:
5>5

False

## ">="

In [43]:
5>=4

True

In [44]:
5>=5

True

## "<"

In [45]:
5 < 4

False

In [46]:
4 < 5

True

In [47]:
4 < 4

False

## "<="

In [48]:
5 <= 4

False

In [49]:
4 <= 5

True

In [50]:
4 <= 4

True

## Logical Operators 
* and "must include"
* or "optional"
* not "opposite"

<b> All logical operators return True or False

## and
* if all conditions is True then "and"  will return True

In [52]:
True and True and True and True

True

In [53]:
True and False and True and True

False

## or
* if any of condition is True then "or" will return True

In [54]:
True or True or True or True

True

In [55]:
True or False or True or True

True

In [56]:

False or False or False or False

False

## not 
* If condition is True "not" returns False and for False it returns True

In [57]:
name = "usama"
not name == "usama"

False

In [58]:
name = "usama"
not name == "Usama"

True

## Identity Operators
<b> Identity operators are used to compare the memory location of two objects
* is
* is not

<b> Both identity operators return True or False

## is
* "is" returns True if both variables are the same object, and False for vice versa

In [59]:
a = 10
b = 10
c = 15
print(a is b)
print (a is c)

print(id(a),id(b),id(c))

True
False
2540466563664 2540466563664 2540466563824

## is not
* "is not" returns False if both variables are the same object, and False for vice versa

In [60]:
print(a is not b)
print(a is not c)
print(id(a),id(b),id(c))

False
True
2540466563664 2540466563664 2540466563824

## Membership Operators
<b> Membership operators are used to check whether the given sequence is present in object or not
* in
* not in 

<b> both membership operators return true or False

## in
* returns True if the sequence with specified value is present in object

## not in
* returns True if sequence with specified value is not present in object

In [61]:
a = """
Pakistan zinda bad,we love our country
Usama Saleem
"""


"Usama" in a

True

In [62]:
"da " in a

True

In [63]:
"da  " in a # as there is only one space after zinda

False

In [64]:
"da  " not in a # as there is only one space after zinda

True

## Bitwise Operators
Python bitwise operators are used to perform bitwise calculations on integers. The integers are converted into binary format and then operations are performed bit by bit.
* "&"  Biwise AND operator
* "|"  Biwise OR operator
* "^"  Biwise XOR operator
* "~"  Bitwise ONE's’ Compliment Operator
* ">>" Bitwise LEFT Shift operator 
* "<<" Bitwise RIGHT Shift operator

## "&"
Python bitwise AND operator returns 1 if both the bits are 1, otherwise 0.

In [65]:
a = 10 # in binary 1010
b = 7  # in binary  111
result = a & b #      a = 1010
               #      b = 0111
               # a + b  = 0010 --> 2 (in decimal) 
print(result)

2

## "|"
Python bitwise OR operator returns 1 if any one bit is 1, otherwise 0.

In [66]:
a = 10 # in binary 1010
b = 7  # in binary  111
result = a | b #      a = 1010
               #      b = 0111
               # a | b  = 1111 --> 15 (in decimal) 
print(result)

15

## "^"
Python bitwise XOR operator returns 1 if both bits are different . If both the bits are same, then it returns 0.

In [67]:
a = 10 # in binary 1010
b = 7  # in binary  111
result = a ^ b #      a = 1010
               #      b = 0111
               # a ^ b  = 1101 --> 13 (in decimal) 
print(result)

13

## "~"
Python Ones’ complement of a number ‘a’ is equal to -(a+1).

In [68]:
a = 10 # in binary 1010
result = ~a # ~a = ~1010
            # ~1010 = -(1010+1)
            # -(1010+1) = -1011 (-11 in decimal)
print(result)

-11

## ">>"
Binary number is appended with the given numbers of time with 0s at the end.

In [69]:
a = 10 # in binary 1010
result = a<<2 # a << 2 = 1010<<2
              # 1010<<2 = 101000 (40 in decimal)
print(result)

40

## ">>"
Right shift operator is exactly the opposite of the left shift operator. The right side bits are removed,by given number of times.

In [70]:
a = 15 # in binary 1111
result = a>>2 # a >> 2 = 1111>>2
              # 1111>>2 = 11 (3 in decimal)
print(result)

3