## Data type
- int 1 
- float 2.0 
- string "pakistan"
- string 'pakistan'
- string ''' pakistan '''
- string """ pakistan """

In [4]:
i = 50
f = 25.5 
s = "Hello world!"
print(i , f, s)
print(type(i) , type(f) , type(s)) # printing data types

50 25.5 Hello world!
<class 'int'> <class 'float'> <class 'str'>

## Variable
#### 3 things:
* variable name
* assignment operator
* value
fro example:
    i = 50
here:
* i --> variable name
* = --> assignment operator
* 50 --> value

In [1]:
print("Pakistan") #pass string data type value

Pakistan

In [2]:
print('pakistan') #pass string data type value

pakistan

In [3]:
print('''pakistan''')

pakistan

In [4]:
print("""pakistan""")

pakistan

In [5]:
print("Pakistan","China",20, 7.20)

Pakistan China 20 7.2

In [6]:
print(200)
print("pakistan")
print(200)
print("We love our country")
print(200)

200
pakistan
200
We love our country
200

In [7]:
print(200);print("pakistan");print(200);print("We love our country");print(200)

200
pakistan
200
We love our country
200

In [8]:
# variable_name = variable_value
a = 500
print(a)
print("pakistan")
print(a)
print("We love our country")
print(a)

500
pakistan
500
We love our country
500

In [9]:
# variable_name = variable_value
a = 500

print(a,"pakistan",a,"We love our country",a)

500 pakistan 500 We love our country 500

In [11]:
# variable_name = variable_value
a = 500

print(a,"pakistan",a,"We love our country",a, sep=',,')

500,,pakistan,,500,,We love our country,,500

In [12]:
# variable_name = variable_value
a = 500

print(a,"pakistan",a,"We love our country",a, sep='\n')

500
pakistan
500
We love our country
500

In [13]:
name = "Muhammad Usama"
father_name = "Muhammad Saleem"
weight = 84



print("NED Student Idientity Card")
print("Name:",name)
print("Father's Name", father_name)
print("Weight",weight)

NED Student Idientity Card
Name: Muhammad Usama
Father's Name Muhammad Saleem
Weight 84

In [14]:
name = "Muhammad Usama"
print(name) # show variable value
print(type(name)) # show variable data type class
print(id(name)) # show memory address

Muhammad Usama
<class 'str'>
2528541036912

In [15]:
weight = 56
print(weight) # show variable value
print(type(weight)) # show variable data type class
print(id(weight)) # show memory address

56
<class 'int'>
2528456822864

In [16]:
weight = 58.5
print(weight) # show variable value
print(type(weight)) # show variable data type class
print(id(weight)) # show memory address

58.5
<class 'float'>
2528540992752

In [17]:
a = True
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

True
<class 'bool'>
140717235304552

In [18]:
a = False
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

False
<class 'bool'>
140717235304584

In [19]:
a = [1,2,3]
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

[1, 2, 3]
<class 'list'>
2528540989184

In [20]:
a = (1,2,3)
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

(1, 2, 3)
<class 'tuple'>
2528536299648

In [21]:
a = {'name':'Usama'}
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

{'name': 'Usama'}
<class 'dict'>
2528541255360

## String Data types with variable and text formation

In [22]:
a = "Pakistan zinda bad" # single line string


print(type(a))
print(a)

<class 'str'>
Pakistan zinda bad

In [23]:
a = 'Pakistan zinda bad' # signle line string


print(type(a))
print(a)

<class 'str'>
Pakistan zinda bad

In [24]:
# multiline string
a = """
hello world
Pakistan zinda bad
We love our country!
"""

print(type(a))
print(a)

<class 'str'>

hello world
Pakistan zinda bad
We love our country!

In [25]:
a = "Father's Name"
print(type(a))
print(a)

<class 'str'>
Father's Name

In [26]:
a = 'Father"s Name'
print(type(a))
print(a)

<class 'str'>
Father"s Name

In [27]:
a = 'Father\'s Name' # convert ' special charater to normal character
b = "Father\"s Name"

print(a)
print(b)

Father's Name
Father"s Name

In [28]:
id_card = "NED University\nStudent Name:Muhammad Usama\nFather's Name:Muhammad Saleem"

print(type(id_card))
print(id_card)

<class 'str'>
NED University
Student Name:Muhammad Usama
Father's Name:Muhammad Saleem

In [29]:
id_card = '''NED University
Student Name:Muhammad Usama
Father's Name:Muhammad Saleem'''

print(type(id_card))
print(id_card)

<class 'str'>
NED University
Student Name:Muhammad Usama
Father's Name:Muhammad Saleem

In [30]:
fname = "Muhammad"
lname = "Usama"

full_name = fname + lname
print(full_name)

MuhammadUsama

In [31]:
fname = "Muhammad"
lname = "Usama"

full_name = fname +" "+ lname
print(full_name)

Muhammad Usama

In [2]:
age = 30
name = "Muhammad Usama"

result = "Student Name: "+name+", "+age # error because this format does not support different data types


print(result)

TypeError: can only concatenate str (not "int") to str

In [33]:
age = 26
name = "Usama"

result = "Student Name: "+name+", "+str(age)


print(result)

Student Name: Usama, 26

In [34]:
"1" + "1"

'11'

In [35]:
d = "1" + "1"
print(d)
print(type(d))

11
<class 'str'>

In [36]:
e = 1+1
print(e)
print(type(e))

2
<class 'int'>